<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/views/css/main.css">
    <script src="https://kit.fontawesome.com/bd45d9ab9b.js" crossorigin="anonymous"></script>
    <title>Register Page</title>
</head>
<body>
    <form>
    <div class="login_page">
        <div class="login_pagebox">
            <div class="center">
            <img src="/view/img/cut.png" width="200px" height="180px">
            </div>
            <input type="text" id="textt" placeholder="Nama">
            <input type="password" id="textt" placeholder="Password">
            <div class="button">
                <button>Login</button>
            </div>
            <div>
                <a>Back</a>
            </div>
        </div>
    </div>
    </form>
</body>
</html>