<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/views/css/main.css">
    <script src="https://kit.fontawesome.com/bd45d9ab9b.js" crossorigin="anonymous"></script>
    <title>Laporan Booking</title>
</head>
<body>
    <form>
    <div class="login_page">
        <div class="laporan_booking">
            <div class="center">
            <img src="/view/img/cut.png" width="200px" height="180px">
            </div>
            <div>
                <a>Tanggal</a>
            </div>
            <input type="date" id="tanggal">
            <div class="tabel_booking">
                <table style="width:100%">
                    <tr>
                        <th>Nama Pengunjung</th>
                        <th>Jumlah Tiket</th>
                    </tr>
                    <tr>
                        <td>Dodo</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Ferlix Irawan</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>M.Dustin.T.S</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Agatha Chelsea</td>
                        <td>4</td>
                    </tr><tr>
                        <td>Lala Christy</td>
                        <td>2</td>
                    </tr>
                </table>
            </div>
            <div class="button">
                <button>Daftar</button>
            </div>
        </div>
    </div>
    </form>
</body>
</html>