<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="view/css/font-awesome.css">
    <script src="https://kit.fontawesome.com/bd45d9ab9b.js" crossorigin="anonymous"></script>
    <title>Register Page</title>
</head>
<body>
    <form action="transaksi.php" method="POST">
    <div class="login_page">
        <div class="login_pagebox">
                <img src="view/img/cut.png" width="200px" height="180px">
            <div>
                <img src="view/img/black.png" width="20px" height="20px">
                <input type="text" id="textt" placeholder="Nama">
            </div>
            <div>
                <img src="view/img/email.png" width="20px" height="20px">
                <input type="text" id="textt" placeholder="No. KTP">
            </div>
            <div>
                <img src="view/img/phone.png" width="20px" height="20px"> 
                <input type="text" id="textt" placeholder="No. HP">
            </div>
            <div>
                <img src="view/img/lock.png" width="20px" height="25px">
                <input type="password" id="textt" placeholder="Password">
            </div>
            <input type="submit" value="Submit">
            <div class= "button">
                <a id="back" href="index.html">Back</a></li>
            </div>
        </div>
    </div>
    </form>
</body>
</html>